/* $Id: style.css,v 1.4 2005/04/14 13:30:04 frjo Exp $ */

/* style.css for Slash */

/* Old Background =  #660000 New Astar Background = #cc0000  #FFFFFF = White   Ami*/
/* 6699FF = CBK Tele Background  */

/* HTML elements */

body {
  background: #FFFFFF;
	font-family: Verdana;
	font-size: 14px;
	font-weight: regular;
	color: #000000;
  }

h1, h2 {
    font-family: Verdana;
	font-size: 24px;
	font-weight: regular;
	color: #000000;
	line-height: 26px;
  }

h3, h4 {
    font-family: Verdana;
	font-size: 12px;
	font-weight: regular;
	color: #000000;
  }

h1, h2, h3, h4 {
  margin-top: 1em;
  }

h2.title {
  font-size: 1.2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  }

pre, code {
  font-size: 1em;
  font-family: monospace;
  }

small {
  font-size: 0.84em;
  }

blockquote {
  border-left: 2px solid #e6e6e6;
  padding-left: 8px;
  margin-left: 0.5em;
  color: #444444;
  text-align: left;
  }


/* Tables */

tr.dark {
  font-size: 0.84em;
  }
tr.light {
  font-size: 0.84em;
  }

th {
  background-color: #eee;
  font-size: 0.84em;
  vertical-align: top;
  text-align: left;
  padding: 3px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #eee;
  }
th img {
  float: right;
  }


/* Page layout blocks / IDs */

#sidebar-left, #sidebar-right {
  vertical-align: top;
  width: 170px;
  }

#main {
  vertical-align: top;
  }


/* Lists */

.item-list h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
  }

.item-list ul {
  font-size: 1em;
  }


/* Misc */

.help {
  font-size: 0.84em;
  }

.center {
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  }

.logo {
  padding: 5px; 
  border: 0;
  }

.site-name {
  margin: 0;
  padding: 0;
  font-size: 2em;
  }
.site-name a:link, .site-name a:visited, .site-name a:hover {
  color: #fff;
  text-decoration: none;
  }

.site-slogan {
  font-size: 1em;
  color: #eee;
  display: block;
  margin: 0;
  font-style: italic;
  font-weight: bold;
  }


/* Messages */

.messages {
  padding: 0.3em;
  margin: 0.5em 0em 0.5em 0em;
  }
.status {
  border: 1px solid #3a3;
  color: #3a3;
  }
.error, form-item input.error {
  border: 1px solid red;
  color: red;
  }

/* Menu styles */

.menu ul {
  margin: 0;
  padding: 0 0 0.25em 1.5em;
  font-size: 1em;
  }
.menu li a.active {
  color: #006666;
  text-decoration: underline;
  }
.menu li a:hover {
  color: #006666;
  text-decoration: underline;
  }


/* Links */

a:link {
  color: #660000;
  text-decoration: none;
  }
a:visited {
  color: #660000;
  text-decoration: none;
  }
a:hover {
  color: #006666;
  text-decoration: underline;
  }
a:active {
  color: #ff0000;
  text-decoration: underline;
  }


/* Theme images */
/* Old Background =  #660000 New Astar Background = #cc0000  #FFFFFF = White   Ami*/
/* 6699FF = CBK Tele Background  */
.top_bg {
  background: #FFFFFF;
  }

.corner_img_l {
  background: #6699FF url(cl.png) no-repeat top left;
  width: 7px;
  font-size: 0.75em;
  font-weight: bold;
  font-family: Verdana;
  }

.corner_img_r {
  background: #6699FF url(cr.png) no-repeat top right;
  width: 7px;
  text-align: right;
  font-size: 0.75em;
  font-weight: bold;
  font-family: Verdana;
  }

img.topic {
  float: right;
  padding: 5px 0 5px 5px;
  border: 0;
  }

/* Node styles */

h1.nodetitle {
  background: #6699FF;
  color: #000000;
/*  font-size: 1em;  */
  font-size: 18px;
  font-weight: bold;
  font-family: Verdana;
  margin: 0;
  padding: 2px 4px 2px 4px;
  }

a.nodetitle {
  background: transparent;
  color: #000000;
  text-decoration: none;
  }

a.nodetitle:hover {
  text-decoration: underline;
  }

.nodeinfo {
  background: #e6e6e6;
  padding: 4px 10px 4px 10px;
  border-left: 1px solid #6699FF;
  border-right: 1px solid #6699FF;
  border-bottom: 1px solid #006666;
  color: #666666;
  font-size: 0.75em;
  }

a.taxonomy-term {
  font-size: 1.11em;
  text-decoration: none;
  }

a.taxonomy-term:hover {
  text-decoration: underline;
  }

.astpbx {
  background: #ffffff;
  color: #333333;
  padding: 5px 10px 5px 10px;
  border-left: 1px solid #6699FF;
  border-right: 1px solid #6699FF;
  border-bottom: 1px solid #6699FF;
  font-size: 0.84em;
  }

.astpbx:after {
  content: ".";  
  display: block;  
  height: 0;  
  clear: both;  
  visibility: hidden;
  }
.astpbx a:link {
  color: #cc0000;
  text-decoration: underline;
  }
.astpbx a:visited {
  color: #333333;
  text-decoration: underline;
  }
.astpbx a:hover {
  color: #006666;
  text-decoration: underline;
  }
.astpbx a:active {
  color: #ff0000;
  text-decoration: underline;
  }

.nodecontent {
  background: #ffffff;
  padding: 5px 10px 5px 10px;
  border-left: 1px solid #6699FF;
  border-right: 1px solid #6699FF;
  border-bottom: 1px solid #6699FF;
  font-size: 0.84em;
  }

.nodecontent:after {
  content: ".";  
  display: block;  
  height: 0;  
  clear: both;  
  visibility: hidden;
  }

.nodemore {
  background: #cccccc;
  padding: 4px 10px 4px 10px;
  margin-bottom: 1em;
  border-left: 1px solid #6699FF;
  border-right: 1px solid #6699FF;
  border-bottom: 1px solid #6699FF;
  font-size: 0.84em;
  }

.nodecontent a:link {
  color: #cc0000;
  text-decoration: underline;
  }
.nodecontent a:visited {
  color: #333333;
  text-decoration: underline;
  }
.nodecontent a:hover {
  color: #006666;
  text-decoration: underline;
  }
.nodecontent a:active {
  color: #ff0000;
  text-decoration: underline;
  }


/* Comment styles */

.comment {
  background: #ffffff;
  padding: 2px 5px 5px 5px;
  margin-bottom: 1em;
  border: 1px solid #666666;
  }

h3.commenttitle, a.commenttitle {
  background: transparent;
  margin: 0;
  color: #000000;
  font-size: 1em;
  font-weight: bold;
  }

a.commenttitle:hover {
  text-decoration: underline;
  }

.commentinfo {
  background: transparent;
  color: #666666;
  font-size: 0.75em;
  }

.comment .new {
  float: right;
  position: relative;
  top: -1em;
  font-weight: bold;
  font-size: 0.75em;
  color: red;
  }


.commentcontent {
  background: transparent;
  font-size: 0.84em;
  }

.commentmore {
  background: transparent;
  font-size: 0.75em;
  }

.commentcontent a:link {
  color: #6699FF;
  text-decoration: underline;
  }
.commentcontent a:visited {
  color: #333333;
  text-decoration: underline;
  }
.commentcontent a:hover {
  color: #006666;
  text-decoration: underline;
  }
.commentcontent a:active {
  color: #ff0000;
  text-decoration: underline;
  }


/* Block styles */

.blockcorner_l {
  background: #dddddd;
  width: 5px;
  font-size: 0.75em;
  font-weight: bold;
  }

.blockcorner_r {
  background: #dddddd;
  width: 10px;
  text-align: right;
  font-size: 0.75em;
  font-weight: bold;
  }

.blocktitle {
  color: #000000;
  background: #6699FF;
  width: 121px;
  font-size: 0.75em;
  font-weight: bold;
  }

.blockcontent {
  background:  
  padding: 5px;
  margin-bottom: 1em;
  border: 1px solid #6699FF;
  font-size: 0.75em;
  }


/* Headerbox (Where the Primary and Secundary Menu Links is displayed Ami*/

.headerbox {
  color: #000000;
  background: #6699FF;
  padding: 5px;
  margin-bottom: 1em;
  border: 1px solid #6699FF;
  text-align: center;
  font-size: 0.84em;
  font-weight: bold;
  }

.headerbox a:active {
  color: #000000;
  font-weight: bold;
  }

.headerbox a:link {
  color: #000000;
  font-weight: bold;
  }

.headerbox a:visited {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  }
.headerbox a:hover {
  color: #FFFFFF;
  text-decoration: underline;
  }


/* Breadcrumb */

.breadcrumb {
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #6699FF;
  text-align: left;
  font-size: 0.84em;
  }


/* Missionbox */

.missionbox {
  background: #ffffff;
  padding: 5px;
  margin-bottom: 1em;
  border: 1px solid #6699FF;
  text-align: left;
  font-size: 0.84em;
  }


/* Footerbox */

.footerbox {
  background: #FFFFFF;
  padding: 5px;
  margin-top: 1em;
 /* border: 1px solid #6699FF;   */
  text-align: center;
  font-size: 0.84em;
  }
