/* $Id: modules.css,v 1.2 2005/04/14 07:45:50 frjo Exp $ */

/* modules.css for Slash */

/* Code filter */

div.codeblock {
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  white-space: pre;
  }


/* Aggregator */

#aggregator {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  }
#aggregator .news-item .date {
  font-size: 0.84em;
  }
#aggregator .news-item .body {
  font-size: 0.84em;
  }
#aggregator .news-item .source {
  color: #333;
  font-style: italic;
  }
#aggregator .title {
  font-size: 1em;
  }
#aggregator h3 {
  margin-top: 0;
  }

/* Tracker */

#tracker th {
  padding: 3px;
  }
#tracker tr.light, #tracker tr.dark {
  background-color: #fff;
  }
#tracker td {
  vertical-align: top;
  padding: 3px;
  border-bottom: 1px solid #bbb;
  }

/* Forum */

#forum table {
  width: 100%;
  }
#forum td {
  padding: 0.5em 0.5em 0.5em 0.5em;
  }
#forum td.forum, #forum td.posts {
  background-color: #eee;
  }
#forum td.topics, #forum td.last-reply {
  background-color: #ddd;
  }
#forum td.container {
  background-color: #ccc;
  }
#forum td.container a {
  color: #555;
  }
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
  }
#forum td .name {
  color: #96c;
  }
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
  }
.block-forum h3 {
  margin-bottom: 0.5em;
  }

/* Calendar */

.calendar td {
  padding: 0;
  border-color: #888;
  }
.calendar td div {
  padding: 0.4em 0;
  }
.calendar .row-week {
  color: #aaa;
  }
.calendar .row-week td a {
  padding: 0.4em 0;
  }
.calendar .day-today {
  background-color: #ccc;
  }
.calendar .day-today a {
  font-weight: bold;
  color: #000;
  }
.calendar .day-selected {
  background-color: #bbb;
  }
.calendar .header-month {
  background-color: #ddd;
  }
.calendar .header-week {
  background-color: #ccc;
  }
.calendar .day-blank {
  background-color: #ddd;
  }
.calendar .row-week td a:hover {
  background-color: #fff; color: #000;
  }
